# ==============================
# Python cache
# ==============================
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# ==============================
# Build / distribuição
# ==============================
build/
dist/
*.egg-info/
*.egg
*.whl

# ==============================
# Ambientes virtuais
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# IDEs
# ==============================
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Test / Coverage
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Mypy / Ruff / Linters
# ==============================
.mypy_cache/
.ruff_cache/